services:
  jenkins:
    build: . # Dockerfile을 읽어서 커스텀 이미지를 만듭니다.
    container_name: jenkins-server
    restart: always
    ports:
      - "8080:8080" # 웹 UI 접속용
      - "50000:50000" # 에이전트 통신용
    env_file:
      - .env # 1단계에서 만든 비밀 변수 파일 로드
    volumes:
      - ./jenkins_home:/var/jenkins_home # 데이터 보존
      - ./jenkins.yaml:/var/jenkins_home/jenkins.yaml # JCasC 설정 파일 주입
    environment:
      # 젠킨스에게 JCasC 설정 파일 위치를 알려줍니다.
      - CASC_JENKINS_CONFIG=/var/jenkins_home/jenkins.yaml